In [1]:
import pandas as pd
latlong=pd.read_csv(r"C:\Users\getsi\OneDrive\Desktop\datavisualisation\geo plotting project\district wise centroids.csv")

In [2]:
latlong

                   State           District   Latitude  Longitude
0    Andaman and Nicobar    Andaman Islands  12.382571  92.822911
1    Andaman and Nicobar    Nicobar Islands   7.835291  93.511601
2         Andhra Pradesh           Adilabad  19.284514  78.813212
3         Andhra Pradesh          Anantapur  14.312066  77.460158
4         Andhra Pradesh           Chittoor  13.331093  78.927639
..                   ...                ...        ...        ...
589          West Bengal  North 24 Parganas  22.062388  88.877940
590          West Bengal           Puruliya  23.254192  86.396853
591          West Bengal  South 24 Parganas  21.854428  88.445370
592          West Bengal     Uttar Dinajpur  26.044619  88.235952
593          West Bengal     West Midnapore  22.354897  87.231014

[594 rows x 4 columns]

In [8]:
census=pd.read_csv(r"C:\Users\getsi\OneDrive\Desktop\datavisualisation\geo plotting project\india-districts-census-2011.csv")
# final_df=latlong.merge(census,on='')
census.head()

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629

In [10]:
census.rename(columns={'District name':'District'},inplace=True)

In [ ]:
final_df=latlong.merge(census,on='District')

,State,District,Latitude,Longitude,District code,State name,Population,Male,Female,Literate,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,ANDHRA PRADESH,2741239,1369597,1371642,1483347,...,1266,2870,84,122,206,134,213,347,109,4181
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,ANDHRA PRADESH,4081148,2064495,2016653,2310960,...,1605,3857,143,150,293,176,261,437,243,5799
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,ANDHRA PRADESH,4174064,2090204,2083860,2667878,...,1565,3835,261,125,386,157,218,375,307,5926
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,ANDHRA PRADESH,5154296,2569688,2584608,3288577,...,1949,4814,189,164,353,195,286,481,290,7211
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,ANDHRA PRADESH,4887813,2440521,2447292,2960441,...,1953,4610,196,188,384,222,328,550,317,6981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,WEST BENGAL,3988845,2051541,1937304,2086432,...,833,2597,283,95,378,63,121,184,86,4191
513,West Bengal,Murshidabad,24.259507,88.168169,333,WEST BENGAL,7103807,3627564,3476243,4055834,...,1663,4762,597,268,865,220,441,661,153,8088
514,West Bengal,Nadia,23.564110,88.582930,336,WEST BENGAL,5167600,2653768,2513832,3480555,...,1520,3949,675,321,996,237,466,703,240,7048
515,West Bengal,Puruliya,23.254192,86.396853,340,WEST BENGAL,2930115,1496996,1433119,1624905,...,670,2002,313,90,403,65,127,192,71,3309
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,WEST BENGAL,3007134,1551066,1456068,1489667,...,641,1947,220,79,299,79,159,238,20,3214

In [16]:
final_df['sex_ratio']=(final_df['Female']/final_df['Male'])*100